name: ragab_portfolio
description: Ragab Eid Flutter Developer Portfolio
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  url_launcher: ^6.2.4

flutter:
  uses-material-design: true

  assets:
    - web/assets/
